.navbar-login {
    background-color:rgb(155, 239, 187);
}

/* Subrayado para el item activo del navbar */
.navbar-nav .nav-link.active {
    position: relative;
    display: inline-block;
    text-decoration: none !important;
    padding-bottom: 6px;
}

/* línea extendida para el item activo del navbar */
.navbar-nav .nav-link.active::after {
    content: "";
    position: absolute;
    left: 50%;
    bottom: 0;
    transform: translateX(-50%);
    width: 105%;
    height: 2px;
    background-color: rgba(82, 164, 104, 0.519);
    border-radius: 2px;
    pointer-events: none;
}

.navbar-nav .nav-link:not(.active){
    color: rgb(60, 148, 100);
}