/* - - - - - - - - - - - - - - - - - - - - - - - - - Password - - - - - - - - - - - - - - - - - - - - - - - - */
.ojo{
    outline: none !important;
    box-shadow: none !important;
    cursor: pointer;
    position: absolute;
    right: 10px !important;
    top: 50%;
    transform: translateY(-50%);
    border: none !important;
    background: none !important;
    display: inline;
    line-height: 1 !important;
    box-shadow: none;
    padding: 0;
}

.ojo-login-color{
    color: #548268;
    font-size: 26px;
}

.ojo:focus, .ojo:active, .ojo:focus-visible, .ojo:hover {
    outline: none !important;
    box-shadow: none !important;
    background: none !important;
    border: none !important;
}

.ojo img {
    pointer-events: none;
    user-select: none;
}

/* - - - - - - - - - - - - - - - - - - - - - - - - - Navbar user - - - - - - - - - - - - - - - - - - - - - - - - */
.navbar-user {
    font-size: 33px !important;
    line-height: 1 !important;
    color: #19633c;
}

/* - - - - - - - - - - - - - - - - - - - - - - - - - - Login big user icon - - - - - - - - - - - - - - - - - - - - */
.login-big-user-icon {
    font-size: 130px !important;
    color: #3cce9b;
    line-height: 1 !important;
}

.regresar i {
    font-size: 23px;
    margin-top: .1rem;
    margin-right: .01rem;
}